body {
  background-color: whitesmoke;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #474747;
  color: cornsilk;
  text-align: center;
  font-size: large;
}

